body {
    font-family: 'Open Sans', sans-serif;
    line-height: 25px;
}

.container {
    width: 100%;
    max-width: 1200px;
}

img {
    max-width: 100%
}

button:focus {
    outline: none;
}

.clear {
    clear: both;
}

/*************************************************/
/*HOME*/
/*header*/

#header .logo {
    padding: 20px;
}

#header h4 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 15px;
    padding: 0px;
    margin: 0px;
}

#header .information {
    margin: 40px;
}

#header a {
    text-transform: uppercase;
    color: #000;
} 

#header .information .headerinfor .symbol {
    float: left;
}

#header .information .headerinfor img {
    padding-right: 15px;
}

#header .information .headerinfor .infor {
    float: left;
    line-height: 30px;
}

#header .information .headerinfor {
    width: 33%;
    float: left;
    margin-top: 25px;
}

#header .information #ship img {
    padding-top: 8px;
}

#header .information #phone {
    padding-left: 30px;
}


/*menu*/

.menu {
    background: #25241d;
}

.main-menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.main-menu li {
    float: left;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
}

/*.menu {
    box-shadow: 0px 2px 2px rgba(0,0,0,0.5); 
    position: fixed;
    top: 0; 
    left: 0; 
    z-index: 100000;
}*/
.main-menu li a {
    display: block;
    text-transform: uppercase;
    color: #fff;
    padding: 22px 20px;
    font-weight: 500;
    font-size: 17px;
}

.main-menu li.active a {
    background-color: #e41e24;
    color: #ffffff;
}

.main-menu li:hover {
    background-color: #e41e24;
}

.main-menu li:hover a {
    color: #ffffff;
}

.search form {
    position: relative;
    margin-top: 20px;
    margin-left: 0px;
    padding-left: 0px;
}

.search input {
    border-radius: 30px;
    background: #e41e24;
    width: 100%;
    border: none;
    line-height: 30px;
    padding-left: 15px;
}

.search input::placeholder {
    color: #fff;
}

.search button {
    position: absolute;
    background: transparent;
    border: none;
    right: 0;
    top: 2px;
    color: #ffffff;
    padding-right: 15px;
}
.home {
    color: #9a9a9a;
    margin-top: 20px;
    font-size: 20px;
}

.home a {
    color: #9a9a9a;
    font-size: 20px;
}
.home i {
    margin-right: 3px;
}
/*content*/

.content {
    padding-top: 40px;
    padding-bottom: 40px;
}

/*left-content*/
/*left-menu*/

.content .left-content .left-menu {
    margin-bottom: 40px;
    box-shadow: 0px 0px 45px -5px #8c7171;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.content .left-content .left-menu ul {
    list-style-type: none;
    padding: 0;
    padding-top: 3px;
    margin: 0;
}

.content .left-content .left-menu ul .sidebar-item {
    height: 50px;
    width: auto;
    line-height: 50px;
    border-bottom: 2px dotted #e6e6e6;
    color: #575757;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    margin: 10px;
    font-size: 15px;
}

.content .left-content .left-menu ul .sidebar-item i {
    float: right;
    line-height: 50px;
    color: #e85054;
}

.content .left-content .left-menu ul .sidebar-item a {
    color: #575757;
}

.content .left-content .left-menu ul .sidebar-item:hover {
    background-color: #e41e24;
    transform: scale(1.2);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-bottom: none;
}

.content .left-content .left-menu ul .sidebar-item:hover a {
    color: #ffffff;
}

.content .left-content .left-menu ul .sidebar-item:hover i {
    color: #ffffff;
}

/*right-content*/

.content .right-content {
    text-align: center;
}

.content .right-content h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 35px;
    color: #2c2c2c;
    margin-bottom: 50px;
}

/*feature-product*/

.content .right-content .product {
    width: 25%;
    float: left;
    padding-bottom: 30px;
}

.content .right-content .product img {
    margin-bottom: 25px;
    height: 200px;
    width: 200px;
}

.content  .product a {
     color: #333;
}
.content .right-content .product .price {
    color: #f6ac40
}

.content .right-content .product button {
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background-color: #ebebeb;
    font-weight: 800;
    font-size: 12px;
    padding: 8px 20px;
    color: #8d8d8d;
    text-transform: none;
    margin-top: 10px;
}

.content .right-content button:focus {
    outline: none;
}

.content .right-content .btn {
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    text-transform: uppercase;
    margin-top: 30px;
    background-color: #ec1f26;
}

.content .right-content .btn i {
    margin-left: 20px;
}

.content .right-content .feature-product {
    margin-bottom: 60px;
}

/*right-poster*/

.content .right-content .right-poster .poster {
    float: left;
    margin-bottom: 50px;
}

.content .right-content .right-poster #p1 {
    margin-right: 19px;
}

/*new-product*/

.content .right-content .new-product {
    margin-bottom: 60px;
}

/*footer*/

.footer {
    background: #f1f1f1;
    padding: 80px 10px;
    line-height: 30px;
}

.footer h4 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.footer img {
    margin-bottom: 15px;
}

/*impressgift*/

.footer .impressgift {
    margin-left: 40px;
}

.footer .impressgift p {
    color: #514e4e;
    font-weight: 400px;
}

.footer .impressgift i {
    color: #e41e24;
    margin-right: 15px;
}

.footer .impressgift .indent {
    text-indent: 34px;
}

/*quick-link*/

.footer .quick-link p {
    color: #ababad;
}

/*signup*/

.footer .signup .inp1 {
    width: 250px;
    padding: 9px 15px;
    border: 1px solid #e41e24;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.footer .signup .inp2 {
    border: none;
    background: #e41e24;
    color: white;
    height: 50px;
    width: 120px;
    position: absolute;
    top: 126px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    text-align: center;
}

/*connected*/

.footer .connected {
    margin-top: 30px;
}

.footer .connected h4 {
    color: #959595;
}

.footer .connected img {
    margin: 15px;
    margin-left: 0px;
}

/*end*/

.end {
    background-color: #e41e24;
    text-align: center;
    color: #ffffff;
    height: 70px;
    line-height: 70px;
}


/*************************************************/
/*ABOUT US*/

.content .main-content i {
    color: #e51e25;
    margin-right: 15px;
}

.content .main-content .paragrap1 {
    margin-bottom: 30px;
}

/************************************************/
/*CONTACT US*/

.content .store-infor h3 {
    font-weight: 700;
    font-size: 40px;
}

.content .store-infor i {
    margin-right: 15px;
}

.content .store-infor p {
    color: #6a6a6a;
}

.content .guess-infor {
    margin-top: 40px;
}

.content .guess-infor input {
    border: none;
    border-bottom: 1.9px solid #e1e1e1;
    width: 100%;
    padding-bottom: 25px;
    padding-left: 5px;
}

.content .guess-infor .top {
    width: 46%;
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
}

.content .guess-infor .bottom {
    width: 96%;
    padding-bottom: 50px;
}

.content .guess-infor button {
    width: 96%;
    margin: 80px 0;
    background-color: #e51e25;
    color: #fff;
    text-transform: uppercase;
    border: none;
    padding: 20px 0;
    border-radius: 3px;
}
/*************************************************/
/*Induavial-Our Products*/

.content .note-book .image-note-book {
    float: left;
    margin-right: 20px;
}

.content .note-book .image-note-book img {
    width: 300px;
    height: 300px;
}

.content .note-book .infor-note-book h3 {
    font-size: 25px;
    margin: 30px 0;
    padding: 0;
    text-align: center;
}

.content .note-book .infor-note-book {
    text-align: left;
}

.content .note-book .infor-note-book button {
    border: none;
    color: #fff;
    border-radius: 5px;
}

.content .note-book .infor-note-book .price {
    font-size: 40px;
    color: #f05738;
    margin: 15px 0;
}

.content .note-book .btn i {
    margin-left: 10px;
    margin-right: 10px;
}

.content .note-book #sm-btn1 {
    background-color: #3a579a;
    padding-left: 0px;
}

.content .note-book #sm-btn2 {
    background-color: #00abf0;
    padding-left: 0px;
}

.content .note-book #sm-btn3 {
    background-color: #ea4335;
    padding-left: 0px;
}

.content .note-book #sm-btn4 {
    background-color: #cd1c1f;
    padding-left: 0px;
}

.content .description h3 {
    text-align: left;
    font-size: 20px;
    margin: 0;
    padding: 0;
    margin-top: 40px;
    color: #444444;
    font-weight: 800;
}

.content .description p {
    text-align: left;
    padding: 30px 0;
}
/*************************************************/
/*OUR PRODUCT*/
/************************************************/
/*PROJECT*/

.content .project {
    width: 25%;
    float: right;
    text-align: center;
}


/***********************************************/
/*ENquiry*/

.content table {
    text-align: center;
    margin-bottom: 70px;
}

.content table .title {
    background-color: #ebebeb;
}

.content table .title h3 {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 900px;
    padding: 0;
    margin: 0;
}

.content table .delete {
    width: 25px;
}

.content table .delete button {
    border: none;
    color: #ff0000;
    font-weight: 700;
    margin-top: 110px;
}

.content table .delete button:hover {
    border-radius: 30px;
    background-color: #ff0000;
    color: #ffffff;
}

.content table .product {
    width: 475px;
    text-align: left;
    margin-left: 20px;
}

.content table .product img {
    margin: 20px 0;
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

.content table .product a {
    color: #000000;
}

.content table .quantity {
    width: 165px;
}

.content table .quantity input {
    width: 50px;
    height: 50px;
    margin-top: 46px;
    background-color: #ebebeb;
    border-radius: 8px;
    border: none;
    text-align: center;
}

.content table .price {
    width: 345px;
}

.content table tr p {
    margin-top: 65px;
}

.content table .total {
    width: 165px;
}

.content table .sum {
    font-weight: 700px;
}

.content table .money {
    margin-top: 5px;
    color: #ffb80e;
}

.enquiry {
    background-color: #f7f7f7;
    margin-bottom: -40px;
}

.enquiry h2 {
    text-align: center;
}

.content .enquiry .guess-infor {
    padding: 30px 170px;
}
.content .enquiry .guess-infor input {
    background-color: #f7f7f7;
}

.content .enquiry .guess-infor .bottom {
    width: 94%;
}

.content .enquiry .guess-infor button {
    width: 400px;
    margin-left: 190px;
}


/**************************/
/*mobile*/

.menu-bars {
    display: none;
    font-size: 25px;
    margin-top: 10px;
    background: transparent;
    border: none;
    color: #fff;
}

.sidebar {
    display: none;
    font-size: 25px;
    margin-top: 10px;
    background: transparent;
    border: none;
    color: #fff;
}

.product-categories-mobile-button {
    display: none;
    background-color: #e41e24;
    padding: 10px 10px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: -10px;
   }

@media(min-width: 1024px){
    .main-menu {
        width: 100% !important;
    }
}


/*ipad*/
@media(max-width: 768px) {
    #header .information .headerinfor img {
        padding-right: 8px;
    }

    #header .information .headerinfor .infor {
        float: left;
        line-height: 22px;
        font-size: 11px;
    }
    
    #header .information {
        margin: 40px;
        margin-top: 10px;
    }

    .menu-bars {
        display: block;
    }

    .product-categories-mobile-button {
    display: block;
    }

    .main-menu li {
        float: none;
        text-align: center;
    }

    .main-menu {
        display: none;
    }

    .search form {
        margin: 8px;
    }

    .sidebar-item {
        display: none;
     }   

    .open-menu {
        display: block;
    }

    .left-content {
        text-align: center;
    }
    .content .right-content .product {
        width: 50%;
        float: right;
        padding-bottom: 30px;
        padding-left: 10px;
    }

    .content .project {
        width: 100%;
    }
    .enquiry h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .guess-infor {
        padding: 0px 0px;
    }

    .content .guess-infor .top {
        width: 40%;
        float: left;
        margin-right: 25px;
        margin-bottom: 30px;
    }

    .enquiry .guess-infor button {
        width: 200px;
        margin-left: 70px;
    }

    .content .store-infor h3 {
        font-weight: 700;
        font-size: 29px;
    }

    .footer .impressgift .indent {
        text-indent: -10px;
    }

    .footer .signup .inp1 {
        width: 200px;
    }

    .footer .signup .inp2 {
        top: 126px;
        height: 50px;
        width: 100px;
    }
}



/*mobile*/

@media (max-width: 600px) {
    #header .information {
        margin: 40px;
        margin-top: 10px;
    }

    #header .information .headerinfor {
        width: 100%;
        margin-top: 25px;
    }

    #header .information .headerinfor .infor {
        float: left;
        line-height: 19px;
    }

    #header .information {
        margin: 40px;
        margin-right: 0;
        margin-left: 10px;
        margin-top: 30px;
    }

    .content .right-content .product {
        width: 50%;
        float: right;
        padding-bottom: 30px;
        padding-left: 10px;
    }

    .content .project {
        width: 100%;
    }

    .footer .impressgift {
        margin-left: 0px;
    }

    .footer .impressgift .indent {
        text-indent: 33px;
    }

    .footer .image {
        text-align: center;
    }

    .footer .signup .inp2 {
        width: 99px;
        top: 116px;
        height: 50px;
    }

    .footer .signup .inp1 {
        width: 225px;
    }
}